.aside{
    margin: 0;
    overflow: 0;
    width: 250px;
    height: 86.5vh;
    background-color: rgb(111, 0, 255);
    padding-top: 20px;
    color: white;
}

.aside h1{
    margin: 0;  
    margin-top: 20px;
    text-align: center;
}